.SingleTask {
    width: auto;
    /* padding: 25%; */
    margin-left: 20%;
    margin-right: 20%;
    background-color: #eee;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.SingleTask .detail_task{
    font-size: 1.5rem;
}

.SingleTask .date_task{
    font-style: italic;
}

.SingleTask .delete_task_button{
    background-color: yellow;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 10px;
}

.SingleTask .mark_completed_button{
    background-color: green;
    padding: 5px;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 10px;
}